@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
    font-family: 'Gochi Hand', cursive;
    text-align: center;
}

div {
    display: inline-block;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 2%;
    padding: 2%;
}

img {
    height: 50%;
    width: 50%;
}

#heading {
    color: darkgreen;
}

/* .green-box {
    background-color: lightgreen;
} */


div:hover {
    background-color: lightgreen;
}

div:active {
    background-color: lightseagreen;
}